$pc_xx: 1500px;
$pc: 769px;
$pc-tb: 1021px;
$tb: 960px;
$sp: 768px;
$sp-s: 375px;
$sp_ss: 360px;
$root-font-size: 16;
$blue:#0077C0;
$lightblue:#E5F1F9;
$brown:#985E19;
$green:#0CB04B;
$green2:#00A73C;
$orange:#F39C1A;
$black:#333;
$blueA50:#cce3f1;
$brownA20:#ebdfd1;
$greenA20:#ccedd8;
@mixin max_pc {
  @media (max-width: ($pc_xx)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }  
}
@mixin pc-tb {
  @media (min-width: ($pc-tb)) {
    @content;
  }
}
@mixin tb {
  @media (max-width: ($tb)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin sp_s {
  @media (max-width: ($sp_s)) {
    @content;
  }
}
@mixin sp_ss {
  @media (max-width: ($sp_ss)) {
    @content;
  }
}
@mixin print{
  @media print {
    @content;
  }
}
@mixin hover($sec:0.3,$ease:ease) {
  @include pc {
    &:not(.nothover){
      transition: all $sec+s $ease;
      cursor: pointer;
      &:hover {
        @content;
      }
    }
    
  }
}
@mixin active($sec:0.3,$ease:ease) {
  @include pc {
    transition: all $sec+s $ease;
    cursor: pointer;
    &:active {
      @content;
    }
  }
}
@mixin cover{
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
}

@mixin max_w($w) {
  @media (max-width: ($w+px)) {
    @content;
  }
}
@mixin min_w($w) {
  @media (min-width: ($w+px)) {
    @content;
  }
}
@mixin max_h($h) {
  @media (max-height: ($h+px)) {
    @content;
  }
}
@mixin min_h($h) {
  @media (min-height: ($h+px)) {
    @content;
  }
}
@mixin center {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
@mixin fs($font-size-px,$font-size-sp-px:null,$font-w:null,$font-c:null) {
  font-size: calc( $font-size-px / $root-font-size * 1rem );
  @if($font-size-sp-px){
    @include sp {
      font-size: calc( $font-size-sp-px / $root-font-size * 1rem );
    }
  }
  @if($font-w){
    font-weight: $font-w;
  }
  @if($font-c){
      color: $font-c;
  }
}
@mixin icon_arrow_s($color) {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m18 0h-16c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-3 8.6-4.2 4.2c-.2.2-.5.3-.7.3s-.5 0-.7-.3l-4.2-4.2c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l3.5 3.5 3.5-3.5c.4-.4 1-.4 1.4 0s.4 1 0 1.4z" fill="%23#{$color}"/></svg>');
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
}