@import "_mixin.scss";
.footlogo-F img{
	width:225px;
}

.page-id-1220 .footerObiArea,
.page-id-1233 .footerObiArea{
	display:none;
}

.Q-AWrap .QuestionOpener>span{
	color:transparent;
}

@media screen and (min-width:768px){

	
	
	.privacy_policy-window p,
	.privacy_policy-window p a{
		font-size: 13px !important;
	}
	
	#omoi1{
		padding-top:152px !important;
	}

	#omoi2{
		margin-top:62.8px !important;
		margin-top:67px !important;
	}

	.VisionWrap .picVision_w + h2.mjkngm img{
		width:100% !important;
	}

	.yarpp-related .news_thumbnail img{
		height:100% !important;
		width:auto !important;
	}

	.VisionWrap h2.Vsn06{
		max-width:100% !important;
	}

	.VisionWrap h2.Ud01{
		margin-top:200px !important;
	}

	#vision1{
		margin-bottom:200px;
	}

	.VisionWrap .picVision_w + h2.mjkngm{
		margin-bottom:150px;
	}


	#kyoso1{
		margin-bottom:200px;
	}

	#vision2{
		margin-bottom:200px;
	}

	/*#vision3,#vision4,#vision5{
		font-weight: 400 !important;
	}*/

	#activ1 .KhundLi_h{
		text-align:left;
	}

	#activ2 .KhundLi_h{
		text-align:left;
	}

	#activ4 {
		max-width: 243.74px;
		padding-left: 19%;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk3{
		display: grid;
		border: 3px solid #0cb04b;
		border-radius: 5px;
		background: #edfae8;
		max-width: 760px;
		height: 194px;
		grid-template-columns: 55.2% 1fr;
		align-items: center;
		justify-items: start;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk3 .hstk_p{
		margin:0 !important;
	}
	.activation-page .OverAnm.A-PAnim4 .anm.mrk2{
		height:170px;
	}
	.activation-page .OverAnm.A-PAnim4 .anm.mrk2 p{
		top: 43%;
	}

	#flow1{
		letter-spacing: 6px;
	}

	.footlogo-F img{
		width:225px;
	}

	.BeyondFadeIn .BeyondSvg img{
		transform: translateY(400px) !important;
	}

	.BeyondFadeIn.Visible .BeyondSvg img{
		transform: translateY(0px) !important;
	}

	.contact-head h1 span{
		letter-spacing: 6px !important;
	}

	.ContactCustomerTitle{
		letter-spacing: 6px !important;;
	}

	#yokuaru,#tekpa{
		font-weight: bold;
    	line-height: 1.44;
    	font-size: 38px;
    	color: #0077c0;
		letter-spacing: 6px;
		text-align:center;
	}

	.share ul li{
		width:45px;
		height:45px;
	}

	.rjkj img{
		max-width:344px;
	}

	#newsl{
		margin-top: 150px!important;
	}

	#menu-item-1351{
		display:none;
	}

	.yarpp .news_contentarea .LinkMore {
		/* margin-left: calc(100% - 100px - 55px) !important; */
	}
}

@media screen and (max-width:767px){


	.AppImg01, .AppImg02, .AppImg03, .AppImg04, .AppImg05, .AppImg06, .AppImg07, .PortalImg01, .PortalImg02, .PortalImg03, .PortalImg04, .PortalImg05, .PortalImg06{
		padding-bottom: 0px !important;
	}

	.spls01{
		width: 50% !important;
	}

	.page-template-page-flow .foot-inner .footlogo img,
	.page-template-page-price .foot-inner .footlogo img{
		margin:0 auto !important;
	}

	.page-template-page-flow .footerObiArea .ObiInner .white.h img,
	.page-template-page-price .footerObiArea .ObiInner .white.h img{
		margin:0 auto !important;
	}

	.news_newicon {
		font-size:15px !important;
	}

	.activation-page .OverAnm.A-PAnim4.Visible .anm.mrk3 {
		display: block;
		width: auto;
		height: auto;
		width: calc(100% - 100px);
		margin: 0 auto;
		padding: 62.3px 10px;
		text-align: center;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk1 img,
	.activation-page .OverAnm.A-PAnim4 .anm.mrk3 img{
		max-width: 210px !important;
		width:100% !important;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk3 .hstk_p{
		width:100% !important;
		box-sizing: border-box;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk3 p.mb span {
		width: 45%;
		display: inline-block;
		text-align: left;
		font-size: 12px;
	}

	.activation-page .OverAnm.A-PAnim4.Visible .anm.mrk3#activ6{
		padding:32.3px 0 !important;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk2{
		height: 175px;
	}

	#newsl {
		margin-top: 84px;
	}

	#newsl h1 span{
		font-size: 26px;
		font-weight: bold;
		line-height: 1.44;
		color: #0077c0;
		letter-spacing: 6px;
	}

	#udb {
		width: 50px;
		border-bottom: 2px solid #0077c0;
		margin: 13px auto 0;
	}

	.MbScSl{
		font-size: 16.5px;
	}

	.MbScSl option{
		font-size: 16.5px;
	}

	.mbScroller{
		
	}

	 .NewsViewArea{
		pointer-events: none;
	}

	.Visible .PostWrap{
		pointer-events: auto;
	}

	.menu_wrap a.site_title{
		background: url(../images/WOOMsLogo.png) left 15% center /contain no-repeat !important;
		
	}

	.MvWraper{
		width: auto;
		margin-right: 20px;
	}

	.menu_wrap .MvContactLink{
		background: white;
    	border-radius: 0.3em;
    	color: #0077c0;
    	border: 1px solid;
    	padding: 3px 17px 5px;
    	font-weight: bold;
    	margin-right: 20px;
    	order: 0;
    	display: flex;
    	align-items: center;
	}

	#menu-opener .bodypath{
		bottom: 50%;
	}



	ul#menu-headmenu li:hover > a{
		color:white !important;
	}



	/*ul#menu-headmenu li{
		margin-bottom:7px;
	}*/

	ul#menu-headmenu li .sub-menu li{
		
	}

	ul#menu-headmenu li .sub-menu li:last-child{
		margin-bottom:14px;
	}

	.FootMenuWrap .FootMenuInner.ll{
		margin-left:-7px !important;
	}

	.footPrivacyPolicyLinks ul li>a{
		font-size:14px !important;
	}

	#app1{
		margin-top:110px;
	}

	#app2{
		margin-top:40px;
	}

	.OverAnm .anm.mrk3 p#app3:first-child,.OverAnm .anm.mrk3#portal8 p:first-child{
		font-size: 18px !important;
	}

	

	.Q-AWrap.Q-AFirst{
		margin-top:40px;
	}

	.ObiInner.RoutePriceObi a{
		padding:15px 0 !important;
	}

	.block007>.mb{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 10px;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk3 .hstk_p{
		padding-left:12px !important;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk1 p.mb span{
		width:auto !important;
	}

	.ObiInner.RoutePriceObi>div{
		padding:16.5px 0 32px !important;
	}

	#udb2{
		width: 50px;
	    border-bottom: 2px solid #0077c0;
	    margin: 18px auto 0;
	}

	.zama-page h2.J00{
		margin-bottom: 40px !important;
	}

	#omoi1{
		padding-top:60px !important;
	}

	.VisionWrap#omoi1 .txtVision_Mh{
		margin-bottom:32px !important;
	}

	#omoi2{
		margin-bottom:50px;
	}

	#omoi2 + .txtVision_Mp > span:nth-child(7){
		margin-bottom:25px;
	}

	.yarpp .mbScroller{
		margin-bottom:30px;
	} 

	.yarpp .mbScroller + .BTNWrap{
		margin-top:30px;
	} 

	.OverAnm .anm.mrk3#activ6{
		opacity:0 !important;
	}

	.OverAnm.A-PAnim4.Visible .anm.mrk3#activ6{
		opacity:1 !important;
	}

	.BgPicArea{
		overflow: visible;
	}
	
	.BgPicArea .BgPic{
		display:none !important;
	}

}

@media screen and (max-width: 767px){

	#portal8 p{
		padding-left:20px;
		padding-right:20px;
	}

	#app3 + p{
		padding-left:20px;
		padding-right:20px;
	}

	.FootMenuWrap{
		max-width: 375px;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}

	.footPrivacyPolicyLinks {
		max-width: 375px;
	}

	@media screen and (min-width: 481px){
		.page-template-page-flow .ObiInner.RoutePriceObi .RoutePrice_p,
		.page-template-page-price .ObiInner.RoutePriceObi .RoutePrice_p {
			font-size: 20px !important;
			color: white;
			text-align: center;
			font-weight: 500;
			position: relative;
			max-width: 464px !important;
			margin: 20px auto;
			letter-spacing: 0.08em;
			line-height: 1.75;
		}
		.page-template-page-flow article#flowPt{
			padding:0 40px;
		}

		.page-template-page-flow article.grid .justify-end {
			justify-content: flex-start;
		}

		main .hidden.sm\:block{
			display:none;
		}

		.page-template-page-flow .RoutePriceObiArea,
		.page-template-page-price .RoutePriceObiArea{
			padding-top:44.672px;
		}

		.page-template-page-price .RoutePriceObiArea{
			padding-bottom: 44.672px;
		}
		
		.page-template-page-price .md\:grid-cols-3 {
			grid-template-columns: auto;
		}

		.page-template-page-flow .sm\:grid-cols-2 {
			grid-template-columns: auto;
		}

		.mitsumori-btn{
			width: calc(100% - 56px) !important;
		}

		.page-template-page-price .Q-AWrap{
			padding: 87.5px 10px !important;
		}

		.donyu-box{
			margin-top: 90px;
		}

		.page-template-page-flow article.grid {
			display: block;
		}

		.page-template-page-flow article.grid section {
			margin-bottom:50px;
		}

		.ObiInner ul li {
			width: 372px !important;
		}

		.FootMenuWrap .FootMenuInner:last-child li{
			text-align: left !important;
		}
	
		#menu-footmenu-other{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	
		.footPrivacyPolicyLinks ul {
			padding-left: 20px!important;
		}

		.page-template-page-flow .footPrivacyPolicyLinks ul,
		.page-template-page-price .footPrivacyPolicyLinks ul {
			padding-left: 60px!important;
		}

		.Q-ASection h2{
			width: 285px !important;
		}

		article section.ContentWrap.RUBICONArea h2 {
			width: 300px !important;
		}

		.zama-page h2.J00{
			width: 370px !important;
		}

		.zama-page h2.J02{
			width: 325px !important;
		}

		.VisionWrap .ClmInnerImg{
			margin: 90px auto 215px !important;
		}


		.yarpp .news_contentarea .LinkMore {
			/* margin-left: calc(100% - 100px - 80px) !important; */
			bottom: 22px !important;
		}

		.news_newicon{
			border-radius: 5em;
		}

		.VisionWrap h2.Vsn07{
			width:503px !important;
		}

		.news_list li .news_thumbnail img {
			height: 100%;
    width: 100%;
		display: block;
		margin: auto;
		object-fit: cover;
		object-position: center;
		}
		
		.single-content .NewsViewArea {
			//height: 730px !important;
		}

		.news_list li {
			//height: 660px !important;
		}

		.single-content .ContentWrap{
			padding: 0 20px !important;
		}

		.news-page .NewsPageListWrap ul li{
			padding:20px 40px !important;
		}

		

		.wooms-app-page .OverAnm .anm.mrk3 p, .wooms-portal-page .OverAnm .anm.mrk3 p{
			font-size: 20px !important;
		}

		.OverAnm .anm.mrk3 p#app3:first-child, .OverAnm .anm.mrk3#portal8 p:first-child{
			font-size: 20px !important;
		}

		.ServiceText p{
			font-size:20px !important;
		}

		.activation-page .OverAnm.A-PAnim4 .anm.mrk1 p.mb span,
		.activation-page .OverAnm.A-PAnim4 .anm.mrk3 p.mb span{
			font-size:20px !important;
		}

		.activation-page .OverAnm.A-PAnim4 .anm.mrk1 p.mb,
		.activation-page .OverAnm.A-PAnim4 .anm.mrk3 .hstk_p {
			width: 82% !important;
			margin-left: auto !important;
			margin-right: auto !important;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.news_list li .news_title{
			font-size:14px !important;
		}

	
		
		.news_contentarea .news_date,
		.news_contentarea .LinkMore{
			
		}

		.NewsViewArea {
			//height: 735px !important;
		}

		.VisionText p.Exp,
		.VisionText p.Subt{
			font-size:20px !important;
		}

		.ZamaObiArea a{
			font-size:20px !important;
		}


		.ObiInner.RoutePriceObi a {
			font-size:20px !important;
			padding: 24px 0 !important;
		}


		.news_newicon {
			font-size: 20px !important;
		}

		.vision-page .NewsListWrap{
			padding:0 20px;
		}

		.Nagare{
			padding:0 40px !important;
		}

		.FootMenuInner>p{
			font-size: 20px !important;
		}

		.FootMenuWrap ul li a{
			font-size:18px !important;
		}

		.footPrivacyPolicyLinks ul li>a{
			font-size:16px !important;
		}

		.news-page .NewsPageListWrap #loadMore{
			width:372.31px;
			height:88px;
		}

		.news-page .NewsPageListWrap #loadMore span{
			font-size:20px !important;
		}

		.BackToNews{
			width: 372.31px !important;
			height: 88px !important;
			font-size: 20px !important;
		}

		.single-content .LRbtn>p{
			width:57px !important;
			height:57px  !important;
		}

		.ScrollMover>p.ViewListAll a{
			font-size:20px !important;
		}

		.VisionWrap .KyosoLink{
			font-size:20px !important;
		}

		.FootMenuWrap{
			max-width: 420px !important;
		}

		.contact-head {
			padding: 0 20px;
		}

		.page-template-page-price .justify-center{
			padding: 0 40px;
		}

		.page-template-page-price .justify-center.kakaku-box{
			padding:0 !important;
		}

	}
}

@media screen and (max-width: 1260px){
	@media screen and (min-width: 768px){

		.VisionWrap .ClmVision,
		.VisionWrap .ClmVisionImage,
		.VisionWrap .ClmVisionFullLogo+.txtVision_Mp,
		.VisionWrap .txtVision_Mp.WoomsVisionTxt01,
		.VisionWrap .harfEarth {
			padding: 0 20px;
		}

		.ContentWrap .GridArea{
			padding: 0 20px;
		}

		.ContentWrap .GridArea h3 img{
			width:97%;
		}

		.ContentWrap .GridArea .ServiceVideo img{
			margin-top: 10%;
		}

		.ContentWrap .GridArea h3.TOPAPPL img{
			width:93% !important;
		}

		.ContentWrap .GridArea h3.TOPOFFICEL img{
			width:87% !important;
		}

		.ChilTitleWrap{
			padding:0 20px;
		}

		.wooms-portal-page .ContentWrap .FlexArea,
		.wooms-app-page .ContentWrap .FlexArea{
			padding-left:20px;
		}

		.RoutePriceObiArea{
			padding-left: 20px;
			padding-right: 20px;
		}

		.ZamaObiArea .ObiInner{
			padding: 0 20px;
		}

		/*article section.ContentWrap.Q-ASection{
			padding:0 20px;
		}*/

		.menu_wrap{
			padding: 0 20px;
			width: calc(100% - 40px);
		}

		.page-template-page-flow .menu_wrap,
		.page-template-page-price .menu_wrap {
			padding: 0;
		}


		.ChilHead{
			height: 0;
			padding-bottom: 44%;
		}

		.ChilHeadInner {
			background-size: 147% !important;
			height: 0 !important;
			padding-bottom: 44% !important;
			width: 100% !important;
		}

		.wooms-app-page .OverAnm, .wooms-portal-page .OverAnm{
			width: calc(100% - 40px) !important;
		}

		.activation-page .A-PObi{
			padding:0 20px;
		}

		.page-template-page-flow .RoutePriceObiArea,
		.page-template-page-price .RoutePriceObiArea{
			width:auto !important;
		}

		.zama-page .BgGrayArea p.text-font-14{
			padding: 0 20px;
		}

		.zama-page .ChilTitleWrap{
			padding: 0 20px;
			width: calc(100% - 40px);
			margin-left: 0;
			margin-right: 0;
		}

		.zama-page .OverAnm.A-PAnim1{
			width: calc(100% - 40px);
		}

		.CountArea .cntWrap{
			padding:0 20px;
		}

		.NewsPageListWrap{
			padding:0 5px;
		}

		.vision-page .NewsListWrap,
		.wooms-page .NewsListWrap {
			padding:0 20px;
		}

		.pcS .bx-viewport{
			height: 0 !important;
			padding-bottom: 43.75%;
		}

		.pcS .bxslider li{
			height: 0 !important;
			width: 16.3% !important;
			background-size: 147% !important;
			padding-bottom: 8.5%;
		}
		
		.TOPslider.pcS{
			height: 0 !important;
			padding-bottom: 43.75%;
		}

		.single-content .NewsListWrap {
			padding:0 20px;
		}

		.single-content .ContentWrap{
			width:calc(100% - 40px) !important;
			max-width:100% !important;
		}

		.foot-menuwrap{
			width:calc(100% - 40px);
		}

		#portal8{
			top: 83% !important;
			padding: 33.4px 0 !important;
		}

		.FootMenuWrap > div{
			margin: 0px 45px 0 0;
		}

		.footPrivacyPolicyLinks, .foot-inner {
			width: calc(100% - 40px);
		}



		.wooms-portal-page .OverAnm .anm.mrk3 p{
			padding:0 20px;
		}

		.Q-AWrap .QuestionOpener>span{
			padding: 30px;
			right: -10px;
			top: -80px;
		}

		.Q-AWrap .QuestionOpener .CloseMinus{
			background: url(../images/Q-AMinus.png) center / 36px no-repeat !important;
		}

		.Q-AWrap .QuestionOpener .OpenPlus{
			background: url(../images/Q-AMinus.png) center / 36px no-repeat !important;
		}

		.ZamaObiArea .white.h {
			font-size: 35px !important;
		}

		.ZamaObiArea .white.t {
			font-size: 18px !important;
		}

		.activation-page .OverAnm.A-PAnim1.Visible+.anmAPAfter+.anmAPAfter2{
			padding: 0 20px;
		}
	}
}

@media screen and (max-width: 1260px){
	@media screen and (min-width: 468px){
		.page-template-page-price .w-full > .p-4{
			padding:0 !important;
		}

		.yokuaru-shitsumon-box h1{
			font-size: 44px;
			letter-spacing: 5px;
		}

		.yokuaru-shitsumon-box h1 + .flex-auto + div {
			margin-top: 20px;
		}

		.page-template-page-price .mitsumori-btn{
			width:calc(100% - 40px);
		}

		.yokuaru-shitsumon-box + section + article.flex.w-full{
			display:block !important;
			box-sizing: content-box !important;
		}

	}
}

@media screen and (max-width: 1260px){
	@media screen and (min-width: 1024px){
		.support-info-card{
			height: 600px !important;
		}
	}
}

@media screen and (max-width: 990px){
	@media screen and (min-width: 768px){
		.ZamaObiArea{
			padding:20px 0 !important;
		}
	}
}

@media screen and (max-width: 950px){
	@media screen and (min-width: 768px){
		ul#menu-headmenu li>a {
			//font-size: 14px;
		}

		.FlexArea.Vision{
			align-items: flex-start !important;
		}

		.VisionText p.Exp {
			font-size: 15px !important;
			letter-spacing: 0 !important;
			line-height: 25px !important;
		}

		.ContentWrap .GridArea {
			grid-template-rows: 13vw 1fr !important;
		}

		.ContentWrap .GridArea .ServiceVideo img{
			margin-top:0;
		}

		.wooms-page .ContentWrap .GridArea .ServiceText p{
			font-size: 15px !important;
			letter-spacing: 0 !important;
			line-height: 25px !important;
		}

		.ContentWrap .GridArea .ServiceText p{
			margin: 15px 0 !important;
		}

		.ContentWrap .GridArea h3.TOPACTIVATIONL{
			width:100%;
		}

		.ContentWrap .GridArea h3.TOPACTIVATIONL img{
			max-width: 288px;
			width: 68.5%;
		}

		.ContentWrap .GridArea .ServiceText:first-child {
			display: flex;
			align-items: flex-start !important;
		}

		.ChilTitleWrap p{
			font-size: 17px !important;
			letter-spacing: 0 !important;
			line-height: 30px !important;
		}

		.ObiInner.RoutePriceObi .RoutePrice_p {
			font-size: 14px;
			padding-left:20px;
			padding-right:20px;
		}

		.ObiInner.RoutePriceObi>div{
			padding: 25px 0;
		}

		.ObiInner.RoutePriceObi .RoutePrice_h {
			font-size: 29px;
		}

		.ObiInner.RoutePriceObi>div{
			margin: 0 0 35px;
		}

		.page-template-page-flow .ObiInner.RoutePriceObi>div,
		.page-template-page-price .ObiInner.RoutePriceObi>div{
			height:250px !important;
		}

		.RoutePriceObiArea .AppWrap .RoutePrice_p, .RoutePriceObiArea .PortalWrap .RoutePrice_p{
			height: 90px;
		}

		.page-template-page-price .md\:grid-cols-3 .sm\:px-20{
			padding:10px !important;
		}

		.menu_wrap{
			padding:0;
			width: calc(100% - 40px);
			min-width: auto;
		}

		.VisionText h2 img{
			width: 100%;
		}
	}

}

@media screen and (max-width:950px){
	@media screen and (min-width:481px){
	.RoutePriceObiArea .AppWrap .RoutePrice_p, .RoutePriceObiArea .PortalWrap .RoutePrice_p {
			margin-bottom: 20px !important;
		}
	}
}

@media screen and (min-width: 951px){
	.RoutePriceObiArea .AppWrap .RoutePrice_p, .RoutePriceObiArea .PortalWrap .RoutePrice_p {
		margin-bottom: 6px !important;
	}
}

@media screen and (max-width: 1100px){
	@media screen and (min-width: 768px){
		.FlexArea.Vision{
			align-items: flex-start !important;
		}
	}
}

@media screen and (max-width: 1050px){
	@media screen and (min-width: 1000px){
		.ContentWrap .GridArea .ServiceVideo img {
			margin-top: 5.8vw;
		}

		.ContentWrap .GridArea + .GridArea .ServiceVideo img {
			margin-top: 6.7vw;
		}

		.ContentWrap .GridArea + .GridArea + .GridArea .ServiceVideo img {
			margin-top: 6.1vw;
		}

		.ContentWrap .GridArea + .GridArea + .GridArea + .GridArea .ServiceVideo img {
			margin-top: 4.8vw;
		}
	}
}

@media screen and (max-width: 870px){
	@media screen and (min-width: 768px){
		ul#menu-headmenu li{
			margin:0;
		}

		.ChilTitleWrap p {
			max-width: 405px !important;
		}

		.wooms-portal-page .ChilTitleWrap p{
			max-width: 365px !important;
		}

		article section.ContentWrap#app1{
			margin: 377px auto 125px !important;
		}

		.zama-page .cntWrap .CntBody {
			height: 150px !important;
		}

		.zama-page .cntWrap .CntBody .CntGuide {
			line-height: 40px !important;
			font-size: 19px;
		}
	
		.VisionWrap .ClmInnerTxt p.txtVision_p {
			font-size: 16px !important;
			line-height: 30px !important;
			margin: 18px 0;
		}

		.VisionWrap .ClmVision:nth-child(odd) .ClmInnerTxt{
			padding-left:20px;
		}
	
		.VisionWrap .ClmVision:nth-child(even) .ClmInnerTxt{
			padding-right:20px;
		}

		.wooms-page .NewsSelector ul {
			
		}

		.ZamaObiArea .white.h {
			font-size: 26px !important;
		}

		.ZamaObiArea .white.t {
			font-size: 17px !important;
		}

		.activation-page .ChilTitleWrap p {
			max-width: 440px !important;
		}

		.OverAnm.A-PAnim1+.anmAPAfter+.anmAPAfter2 li a{
			font-size: 25px;
		}

		.activation-page .OverAnm.A-PAnim2,
		.activation-page .OverAnm.A-PAnim3,
		.activation-page .OverAnm.A-PAnim3+.KhundLi,
		.activation-page .OverAnm.A-PAnim4,
		#flowPt{
			padding:0 20px;
		}

		.spls01+ul a {
			font-size: 20px !important;
		}

		.ObiInner.RoutePriceObi .w-full .RoutePrice_p{
			font-size: 15px !important;
		}

		.ObiInner.RoutePriceObi .w-full .RoutePrice_h {
			font-size: 26px !important;
		}

		.ObiInner.RoutePriceObi .w-full{
			height: 245px !important;
		}

		.VisionWrap .ClmInnerImg{
			margin-top: 74px;
		}

		.news_newicon {
			font-size: 10px !important;
			width: 45px !important;
			height: 45px !important;
		}


	}
}


@media screen and (max-width:480px){
	.NewsViewArea {
		//height: 520.64px !important;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk2 p{
		max-width: 155px;
	}

	.activation-page .OverAnm.A-PAnim4 .anm.mrk2{
		height: 145px;
	}

	.page-template-page-flow article#flowPt{
		padding:0;
	}

	.vision-page .news_list li {
		width: 8.94%;
	}

	.vision-page .news_list li,
	.wooms-page .news_list li{
		width: calc(100vw - 40px) !important;
		.news_list_shadow{
			width: calc(100vw - 60px);
			
		}
	}

	.news_list li .news_thumbnail img{
		
		height: 100%;
    width: 100%;
		display: block;
		margin: auto;
		object-fit: cover;
		object-position: center;
	}

	.ObiInner ul li{
		width:200px !important;
	}
	.FootMenuWrap{
		padding: 0 30px !important;
	}

	.Q-AWrap .QuestionOpener>span{
		background: url(../images/Q-AMinus.png) center / 24px no-repeat !important;
		width: 24px;
		height: 24px;
		text-indent: 300%;
		right: -30px;
	}


}

@media screen and (width: 768px){
	.FootMenuWrap > div{
		margin: 0px 45px 0 0;
	}

	.FlexArea.Vision{
		padding-right:20px;
	}

	.ServiceText p {
		font-size: 15px;
		line-height: 1.75;
		letter-spacing: 0px;
		font-weight: 500;
		margin: 0;
		width: 92%;
	}

	.wooms-app-page .OverAnm .anm.mrk3 p#app3 + p {
		padding:0 20px;
	}

	.wooms-portal-page .OverAnm.Visible .anm.mrk3{
		left:auto !important;
	}

	.ObiInner.RoutePriceObi .RoutePrice_p{
		padding:0 20px;
	}

	.activation-page .ChilTitleWrap p{
		max-width: 405px !important;
	}

	.activation-page .OverAnm.A-PAnim1+.anmAPAfter{
		width:427px;
	}
	.activation-page .OverAnm.A-PAnim1+.anmAPAfter+.anmAPAfter2{
		padding-left:20px;
		padding-right:20px;
	}

	.activation-page .OverAnm.A-PAnim2,
	.activation-page .OverAnm.A-PAnim3,
	.activation-page .OverAnm.A-PAnim3+.KhundLi,
	.activation-page .OverAnm.A-PAnim4,
	#flowPt{
		padding:0 20px;
	}

	.page-template-page-flow article.grid{
		display: block;
	}

	.page-template-page-flow .sm\:grid-cols-2{
		grid-template-columns: auto;
	}

	.page-template-page-flow article.grid .justify-end {
		justify-content: flex-start;
		margin-bottom: 70px;
	}

	.zama-page .anmAPAfter3{
		padding:0 20px;
	}

	.zama-page .cntWrap .CntBody .CntGuide {
		margin-bottom: 0 !important;
	}

	.VisionWrap .ClmVisionImage ul{
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.VisionWrap .ClmVisionImage ul li{
		width:255px;
		margin-bottom:15px;
	}

	#kyoso1{
		width:calc(100% - 40px);
	}

	.footPrivacyPolicyLinks,
	.foot-inner{
		width:calc(100% - 40px);
	}
	
	.wooms-page .NewsSelector ul{
		flex-wrap: wrap;
	
	}

	.wooms-page .NewsSelector ul li{
		margin-bottom:15px;
	}

	ul#menu-headmenu li{
		margin: 0;
	}

	ul#menu-headmenu li>a{
	
	}

	.menu_wrap{
		min-width:auto;
	}

	.ZamaObiArea .white.h{
		font-size: 29px !important;
	}

	.ZamaObiArea .white.t{
		font-size: 17px !important;
	}

	.OverAnm.A-PAnim1+.anmAPAfter+.anmAPAfter2 li a{
		font-size: 25px !important;
	}

	.zama-page .ChilTitleWrap p{
		max-width: 100% !important;
	}

	.news_newicon {
		font-size: 10px !important;
		width: 45px;
		height: 45px;
	}

	.wooms-page .NewsSelector ul{
		margin-bottom: -13px;
	}

	.wooms-app-page .ServiceText h3, .wooms-portal-page .ServiceText h3 {
		font-size: 40px;
		letter-spacing: 0.1em;
		font-weight: 500;
		margin: 0 0 5.5px 0;
	}

	.ServiceText p {
		font-size: 17px !important;
		letter-spacing: 0.08em;
	}

	.wooms-app-page .ServiceText h3 span, .wooms-portal-page .ServiceText h3 span{
		font-size:14px;
	}

	.VisionWrap .ClmVisionFullTxt{
		background: url(../images/Vsn05bg.png) center / 745px no-repeat;
	}

	.VisionWrap .ClmVisionFullTxt p{
		font-size: 16px;
		line-height:2.3;
	}

}

@media screen and (max-width:900px){
	@media screen and (min-width:768px){
		.OverAnm.A-PAnim1 .anm.mrk4{
			top:45%;
		}

		.zama-page .OverAnm.A-PAnim1 .anm.mrk4 {
			top: 43.5%;
		}
	}
}

@media screen and (max-width:1130px){
	@media screen and (min-width:900px){
		.zama-page .OverAnm.A-PAnim1 .anm.mrk4{
			top: 25vw;
		}
	}
}

@media screen and (max-width:1024px){
	@media screen and (min-width:768px){
		.VisionWrap .ClmVisionImage ul{
			justify-content: space-around;
			flex-wrap: wrap;
			max-width: 770px;
			margin: 0 auto;
		}
	
		.VisionWrap .ClmVisionImage ul li{
			width:255px;
			margin-bottom:15px;
		}
	
		.VisionWrap .ClmVisionFullTxt{
			background: url(../images/Vsn05bg.png) center / contain no-repeat;
			width: calc(100% - 40px);
		}

		.VisionWrap .ClmVisionFullTxt p{
			font-size:18px;
		}

	

		#app3 + p{
			padding-left: 20px;
			padding-right: 20px;
		}

		.activation-page .OverAnm.A-PAnim1{
			width: calc(100% - 40px);
		}

		.wooms-page .NewsSelector ul {
			
		}

		.wooms-page .NewsSelector ul li {
			margin-bottom: 15px;
		}
	

	}

	@media screen and (min-width:951px){
		.VisionWrap .ClmVisionFullTxt p{
			font-size:20px !important;
		}
	}

	@media screen and (min-width:769px){
		.ServiceText p{
			width: calc(100% - 50px);
		}
	}
}

.page-template-page-price .Q-AWrap .QuestionOpener>span{
	padding: 48px;
}

@media screen and (max-width:479px){
	.page-template-page-price .justify-center.w-full{
		padding:0 5px !important;
	}

	.page-id-82 .ObiInner.RoutePriceObi>div.PriceWrap,
	.page-id-84 .ObiInner.RoutePriceObi>div.RouteWrap{
		height: 258px !important;
	}

}